record(ao, "$(SYSTEM):SetPosition")
{
    field(DESC, "Set Position")
    field(PINI, "YES")
    field(VAL,   1)
    field(DTYP, "stream")
    field(PREC, "0")
    field(OUT, "@diagnostics-thorlabs-fw102c.proto SetPosition thorlabs-fw102c")
}

record(ai, "$(SYSTEM):GetPosition")
{   
    field(SCAN, "1 second")
    field(PINI, "YES")
    field(DESC, "Get Position")
    field(DTYP, "stream")
    field(INP, "@diagnostics-thorlabs-fw102c.proto GetPosition thorlabs-fw102c")
}





















